.chat-box {
    height: 150px;
    max-height: 150px;
    overflow-y: auto;
}

.chat-box li {
    font-size: 105%;
    margin-bottom: 8px;
}

.chat-panel {
    height: 230px;
}

.arrow_box {
	position: relative;
	background: #3498db;
	border: 2px solid #375a7f;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    display: inline-block;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #3498db;
	border-width: 5px;
	margin-top: -5px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #375a7f;
	border-width: 8px;
	margin-top: -8px;
}

.user-avatar {
    width: 200px;
}

.hovereffect {
    margin-right: 10px;
    margin-bottom: 3px;
    display: inline-block;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 35px;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    background-color: rgba(75,75,75,0.7);
    -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
    display: block;
    position: relative;
}

.hovereffect h2 {
    margin: 8px;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
}

.song {
    display: inline-block;
    margin-left: 6px;
    padding: 3px;
}

.song .artist {
    font-weight: bold;
}

.song .album {
    font-style: italic;
}

figcaption > span {
    display: block;
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
    height: 20px; /* Essentially serves as line height here */
    text-overflow: ellipsis;
}

figcaption .ellipsis {
    color: white;
}

.song.active img {
    border: solid #2d4968;
}

.song.uploading img {
    height: 215px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    opacity: 0.4;
}

.song > .progress {
    height: 5px;
    margin-bottom: 0
}

.song.uploading > figcaption {
    opacity: 0.6;
}

.song.active {
    color: #e1e1e1;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
