.hovereffect {
    margin-right: 10px;
    display: inline-block;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 35px;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    background-color: rgba(75,75,75,0.7);
    -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
    display: block;
    position: relative;
}

.hovereffect h2 {
    margin: 8px;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
}
