{% extends "base_navbar.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 align = "center"> Synchronizo</h1>
            <p align = "center">Welcome to Synchronizo! Please log in or sign up below</p>
            <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
                <br>
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <br>
                <button type="button" class="btn btn-default btn-large"> <b>Login</b>
            </div>
        </div>
    </div>
{% endblock %}
